<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "trampoline.theimran.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Trampoline</name>

    <description>
        A classic game by @Nklvguko remade and published by @TheImran.
        
    </description>

    <author href="http://scratch.mit.edu/users/TheImran" email="imranfoy619@gmail.com">
        TheImran
    </author>

</widget>
